.HolyGrail{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
header,footer{
	flex:1;
	background-color: #666666;
}
.HolyGrail-body{
	display: flex;
	flex:1;
}
.HolyGrail-content {
  flex: 1;
}
.HolyGrail-nav, .HolyGrail-ads {
  /* 两个边栏的宽度设为12em */
  flex: 0 0 12em;
}
.HolyGrail-nav {
  /* 导航放到最左边 */
  order: -1;
}

@media (max-width: 768px) {
	.HolyGrail-nav{
		background-color: red;
	}
}

@media (max-width: 768px) {
  .HolyGrail-body {
    flex-direction: column;
    flex: 1;
  }
  .HolyGrail-nav,
  .HolyGrail-ads,
  .HolyGrail-content {
    flex: auto;
  }
}

.html{
	box-sizing: border-box;
}
body{
	text-align: center;
}
main{
	background-color: #d6d6d6;
}
nav{
	background-color: #77bbdd;
}
aside{
	background-color: #f63;
}